<!DOCTYPE html>

<html>

<head>
    <title>About Company</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>


   <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js"></script>
    <div class="main-content">
        {{>header}}
         <h3>enter the location to get data</h3>
        <input type="text" id="loc"><br>
        <button type="button" onclick="getdata()">getdata</button> 

        <center>
            <p>Iphone: <strong id="iphone"></strong></p>
            <p>Ipad: <strong id="ipad"></strong></p>
            <p>Macbooks: <strong id="macbooks">    </strong>     </p>
        </center>
    
    {{>footer}}
    
    <script src="/js/index.js"></script>
</body>

</html>